/* Container
.service-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
}

.service-image-container {
  position: relative;
  height: 800px;
  width: 100%;
}

.service-hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
}

.service-overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.service-overlay-text h1 {
  font-size: 2.7rem;
  font-weight: bold;
}

.service-descr_hea {
  color: #eee;
}

.service-heading {
  font-size: 2.5rem;
  color: #0073aa;
  margin-bottom: 20px;
  margin-top: 25px;
}

.service-description {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 40px;
  padding: 0 20px;
}

.service-features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}
.service-card:hover{
  background-color: #76baff;
  color: #fff;
}


.service-feature-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex-basis: calc(33.333% - 20px);
  text-align: left;
  transition: transform 0.3s;
}

.service-feature-card:hover {
  transform: translateY(-10px);
}

.service-feature-card h2 {
  font-size: 1.5rem;
  color: #0073aa;
  margin-bottom: 10px;
}
.service-contact {
  padding: 5rem;
  background: #004080;
  color: #fff;
}

.service-feature-card p {
  font-size: 1rem;
  color: #555;
}
.service-contact-btn {
  background: #fff;
  padding: 15px;
  color: #555;
  border: none;
  border-radius: 5px;
}
.just_descr {
  margin-bottom: 30px;
}

.service-icon {
  font-size: 2rem;
  color: #0073aa;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .service-feature-card {
    flex-basis: calc(50% - 20px);
  }

  .service-overlay-text h1 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .service-feature-card {
    flex-basis: 100%;
  }

  .service-overlay-text h1 {
    font-size: 1.5rem;
  }

  .service-hero-image {
    height: 400px;
  }

  .service-descr_hea {
    font-size: 0.8rem;
    max-width: 100%;
    width: 300px;
  }
  .service-image-container{
    height: 400px;
    object-fit: cover;
  }
}


.color_h {
  color: #004080;
  margin-top: 25px;
  padding-top: 25px;
  margin-bottom: 15px;
}

.service-experts {
  background: #eee;
  border-radius: 10px;
  margin-bottom: 15px;
}

.service-expert-cards {
  display: flex;
  padding: 60px;
  gap: 9rem;
}

@media (max-width: 768px) {
  .service-expert-cards {
    flex-direction: column; 
    padding: 40px; 
    gap: 4rem; 
  }
}

@media (max-width: 480px) {
  .color_h {
    font-size: 1.5rem; 
    margin-top: 15px; 
    padding-top: 15px;
  }

  .service-expert-cards {
    padding: 20px; 
    gap: 2rem;
  }

  .service-expert-card {
    flex-basis: 100%; 
    text-align: center; 
  }

  .service-expert-card h3 {
    font-size: 1.2rem; 
  }

  .service-expert-card p {
    font-size: 0.9rem; 
  }
  .just_descr{
    font-size: 1rem;
  }
  .service-heading{
    font-size: 2.2rem;
    margin-bottom: 10px;
  }
  .service-description{
    font-size: 1rem;
  }
} */
